# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CORS
CORS_ALLOWED_ORIGINS=

# Email (SMTP casella Aruba)
MAIL_FROM=
MAIL_FROM_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

GOOGLE_BOOKS_API_KEY=
APP_CONTACT=
